* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(7, 59, 76);
    color: white;
}

h1 {
    color: rgb(6, 214, 160);
    text-align: center;
    font-size: 4em;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 1em;
}

p {
    font-size: xx-large;
}

.pick {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.pick button {
    margin-top: 1em;
}

.game-button {
    border-radius: 50%;
    color: white;
    width: 5em;
    height: 5em;
    border: 3px black solid;
    font-size: x-large;
}

.Rock {
    background-color: rgb(239, 71, 111);
    grid-area: rock;
}

.Paper {
    background-color: rgb(17, 138, 178);
    grid-area: paper;
}

.Scissors {
    background-color: rgb(255, 209, 102);
    grid-area: scissors;
}

#player-pick {
    display: grid;
    grid-template-areas: 
        "... rock ..."
        "paper ... scissors";
    width: 95%;
    height: 40vh;
    margin: auto;
    align-items: center;
    justify-items: center;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2em;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    border: 1px solid white;
}

.score p {
    margin: .5em;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.winner {
    box-shadow:
        0 0 2px 10px rgba(255,255, 255, .3),
        0 0 2px 25px rgba(255,255, 255, .2),
        0 0 2px 45px rgba(255,255, 255, .1);
        animation: pulse 1.5s infinite;
}

.pick button {
    margin: 1em;
}

@keyframes pulse {
    0% {
        box-shadow:
            0 0 2px 10px rgba(255,255, 255, .3),
            0 0 2px 25px rgba(255,255, 255, .2),
            0 0 2px 45px rgba(255,255, 255, .1)
    }
    50% {
        box-shadow:
            0 0 2px 5px rgba(255,255, 255, .5),
            0 0 2px 10px rgba(255,255, 255, .3),
            0 0 2px 15px rgba(255,255, 255, .1)
    }
    100% {
        box-shadow:
            0 0 2px 10px rgba(255,255, 255, .3),
            0 0 2px 25px rgba(255,255, 255, .2),
            0 0 2px 45px rgba(255,255, 255, .1)
    }
  }

.restart {
    background-color: rgb(18, 173, 132);
    color: white;
    padding: 1em;
    border-radius: 5px;
    align-self: center;
    margin: .5em;
    font-size: large;
}

#game {
    display: flex;
    flex-direction: column;
}

